.header {
    text-align: center; /* Center align content within header */
    margin-bottom: 20px; /* Adjust spacing between header and homepage-wrapper */
}

.header h1 {
    font-size: 70px;
    color: #fff;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Example shadow size and color */
    margin: 0;
  }
  
  .header p {
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Example shadow size and color */
    margin-top: -30px;
    margin-bottom: 10px;
  }
  
.homepage-wrapper {
    position: relative;
    width: 650px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px); /* Blur effect for background */
    border-radius: 10px;
    color: #186e3c; /* Darker green color */
    overflow: hidden; /* Ensure content doesn't overflow the container */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    display: flex;
    flex-direction: column; /* Stack form-boxes vertically */
    align-items: center; /* Center align items horizontally */
    justify-content: center; /* Center align items vertically */
    padding: 20px; /* Add some padding for aesthetics */
}

.scrollable-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 275px; /* Adjust this height to show only the first 4 elements */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    margin-bottom: 15px;
    margin-top: 15px;
}

.message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.message.success {
    color: #186e3c; /* Green color */
    background-color: #d4edda; /* Light green background */
}

.message.error {
    color: #d9534f; /* Red color */
    background-color: #f8d7da; /* Light red background */
}

.club-button {
    background-color: #d3d3d3; /* Light gray color */
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 18px; /* Larger font size */
    font-weight: bold; /* Bold font */
    cursor: pointer;
    width: 90%; /* Adjust the width to your preference */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.club-button:hover {
    background-color: #b0b0b0; /* Darker gray on hover */
}
